{% extends 'base.html' %}
{% block content %}
 <!-- <section class="section container" id="add_art">
   <div class="row">
      <div class="col s12 l5">
        <h4 class="blue-text text-darken-2">Add an Art</h4>
        <p>"I am enough of an artist to draw freely upon my imagination." <br> Albert Einstein</p>
      </div>
      <div class="input-field col s12">
          <form action=""  method="POST">
          {% csrf_token %}
            <div class="input-field col s12">
              <input type="text" id='art-name'>
              <label for="art_name">Art Name</label>
            </div>
            <div class="input-field col s12">
              <input type="text" id='artist-name'>
              <label for="artist_name">Artist Name</label>
            </div>
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="art-description">Describe the Art</label>
            </div>
            <div class="input-field col s12">
              <input type="text" id="date" class="datepicker">
              <label for="date">Choose the Date Taken</label>
            </div>
            <!-- <div class="input field">
              <a href="#" type="submit" class="btn pink waves-effect waves-light">
                <span>Add ART</span>
                <i class="material-icons left">add_circle</i>
              </a>
            </div>
            <input type="submit" value="Submit this Art!" class="btn" />
      </form>
    </div>  
 </section> -->
   <!-- Leaving the action empty makes the form post to the same url used to display it -->
   <form action="" method="post">
    <!-- Django requires the following for security purposes -->
    {% csrf_token %}
    <table>
      <!-- Render the inputs inside of <tr>s & <td>s -->
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </form>
  
{% endblock %}