{% extends 'base.html' %} 
{% block content %}

<h1>Art Details</h1>

<div class="card-details">
  <div class="card-content">
    {% for photo in oneArt.photo_set.all %}
    <section>
    <img id="img-details" class="responsive-img card-panel" src="{{photo.url}}" />
    <a href="{% url 'delete_photo' photo.id %}">Delete Photo</a>
    {% empty %}
    </section>
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
    <div>
    <span class="card-title">{{ oneArt.name }}</span>
    <p>Art: {{ oneArt.artist }}</p>
    <p>Description: {{ oneArt.description }}</p>
  </div>
    <div class="card-action">
      <a href="{% url 'art_update' oneArt.id %}">Edit</a>
      <a href="{% url 'art_delete' oneArt.id %}">Delete</a>
    </div>
  </div>
  <form
    action="{% url 'add_photo' oneArt.id %}"
    enctype="multipart/form-data"
    method="POST"
    class="card-panel"
  >
    {% csrf_token %}
    <input type="file" name="photo-file" />
    <br /><br />
    <input type="submit" class="btn" value="Upload Photo" />
  </form>
</div>

<!-- Comments Form -->
    <form action="{% url 'add_comment' oneArt.id %}" method="post">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <input type="submit" class="btn" value="Add Comment">
    </form> 
  <!-- Comments List -->
    <table class="striped">
      <thead>
        <tr><th>Comment</th><th>Date</th></tr>
      </thead>
      <tbody>
        {% for comment in oneArt.comment_set.all %}
          <tr>
            <td>{{comment.content}}</td>
            <td>{{comment.date}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
