{% extends 'base.html' %} 
{% block content %}
<h1>Art Details</h1>
<div class="col s12 l4 card-details">
  <div class="card-content">
    {% for photo in oneArt.photo_set.all %}
    <section>
    <img id="img-details" class="responsive-img card-panel" src="{{photo.url}}" />
    <a href="{% url 'delete_photo' photo.id %}">Delete Photo</a>
    {% empty %}
    </section>
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
    <div>
    <span class="card-title">{{ oneArt.name }}</span>
    <p>Art: {{ oneArt.artist }}</p>
    <p>Description: {{ oneArt.description }}</p>
  </div>
    <div class="card-action">
      <a class="btn waves-effect waves-light pink" href="{% url 'art_update' oneArt.id %}" value="Edit">Edit<i class="material-icons left">edit</i></a>
      <a class="btn waves-effect waves-light red" href="{% url 'art_delete' oneArt.id %}" value="delete">Delete Art<i class="material-icons left">delete_forever</i></a>
    </div>
  <div class="col s12 l6">
  <form
    action="{% url 'add_photo' oneArt.id %}"
    enctype="multipart/form-data"
    method="POST"
    class="card-panel"
  >
    {% csrf_token %}
    <input type="file" name="photo-file" />
    <br /><br />
    <button class="btn waves-effect waves-light blue" type="submit" value="Upload Photo" name="action">Upload Photo
      <i class="material-icons left">add_a_photo</i>
  </form>
</div>
</div>
</div>
<!-- Comments Form -->
    <form action="{% url 'add_comment' oneArt.id %}" method="post">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <button class="btn waves-effect waves-light pink" type="submit" value="Add Comment" name="action">Add Comment
        <i class="material-icons right">add_circle</i>
      </button>
    </form> 
  <!-- Comments List -->
    <table class="striped">
      <thead>
        <tr><th>Comment</th><th>Date</th></tr>
      </thead>
      <tbody>
        {% for comment in oneArt.comment_set.all %}
          <tr>
            <td>{{comment.content}}</td>
            <td>{{comment.date}}</td>
            <td><a class="btn waves-effect waves-light red" href="{% url 'comment_delete' comment.id %}"><i class="material-icons">delete_forever</i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>

{% endblock %}

            