{% extends 'base.html' %} {% block content %}
<!-- photo / grid -->
  <div class="row">
    <div class="col s12 l4">
      <br>
      <img
        src="/static/main_app/images/pacman.png"
        alt="about Start"
        class="responsive-img"
      />
    </div>
    <div class="col s12 l6">
      <h3 class="blue-text text-darken-4">OUR MISSION</h3>
      <p>
        To provide an online hub for all to post, search, and showcase our very
        own street arts in Austin, such as murals and graffitis, because we
        believe in keeping Austin colorful and fun!
      </p>
    </div>
  </div>
{% endblock %}
