body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

  }
  
  main {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }

  .main-content{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .card-details{
    display: flex;
    min-width: 500px;
  }
  .parallax{
    position:static;
  }
  .profile-content{
    display: flex;
    min-inline-size: 800px;
    flex-direction: row;
  }
  
    .card{
    margin: 20px;
    width: 25%;
  }
  nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(31, 26, 9, 0.6);
    margin: 0;
  }
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

.swatch-yellow {
  background-color: #E8D36A;
}

.swatch-pink {
  background-color: #D9669B;
}

.swatch-blue1 {
  background-color: #0455BF;
}

.swatch-blue2 {
  background-color: #049dd9;
}

.swatch-blue3 {
  background-color: #05C7F2;
}

#logo {
  padding: 5px;
}